# =========================

# 🐍 Python / PyFlink

# =========================

venv/
env/
**pycache**/
*.pyc
*.pyo
*.pyd
*.log
*.tmp

# =========================

# ☕ Maven / Java (Flink JARs)

# =========================

target/
*.jar
dependency-reduced-pom.xml

# =========================

# 🧠 IDEs (VS Code / IntelliJ)

# =========================

.vscode/
.idea/
*.iml

# =========================

# 🖥️ OS (Windows)

# =========================

Thumbs.db
desktop.ini

# =========================

# 📦 Build / packaging

# =========================

*.zip
*.tar.gz

# =========================

# 🔐 AWS / Config sensible

# =========================

.env
*.credentials
*.pem
*.key

# =========================

# 📊 Logs

# =========================

logs/
*.out
